---
import Icon from "./Icon.astro";
---

<section class="box skills transizione">
	<div class="stack gap-2 lg:gap-4 transizione">
		
		<h2><Icon
			style="display:inline-block; position: relative; bottom: 5px"
	
				icon="terminal-window"
				color="var(--accent-regular)"
				size="2.5rem"
				gradient
			/> Full Stack</h2>
		<p>
			Ogni progetto ha bisogno di un back-end e di un front-end.
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4 transizione">
		
		<h2><Icon
			style="display:inline-block; position: relative; bottom: 5px"
	
				icon="trophy"
				color="var(--accent-regular)"
				size="2.5rem"
				gradient
			/> Industry Leader</h2>
		<p>
			Neque viverra justo nec ultrices dui. Est ultricies integer quis
			auctor elit.
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4 transizione">
		
		<h2><Icon
			style="display:inline-block; position: relative; bottom: 5px"
	
				icon="strategy"
				color="var(--accent-regular)"
				size="2.5rem"
				gradient
			/> Strategy-Minded</h2>
		<p>Urna porttitor rhoncus dolor purus non enim praesent ornare.</p>
	</div>
</section>

<style>
	/* TRANSIZIONI ANIMATE */
	.transizione {
		opacity: 0;
		filter: blur(5px);
		transform: translateX(-100%);
		transition: all 1.5s;
	}
	.show {
		opacity: 1;
		filter: blur(0);
		transform: translateX(0);
	}

	/* FINE TRANSIZIONI */

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
<script src="../components/transition.js"></script>
